Code/Python/.idea/.name
Code/Python/.idea/encodings.xml
Code/Python/.idea/misc.xml
Code/Python/.idea/modules.xml
Code/Python/.idea/workspace.xml
Code/Python/.idea/vcs.xml
Code/Python/.idea/Python.iml
Code/Python/.idea/scopes/scope_settings.xml